.horizontal-row {
    border: none;
    border-top: 1px solid #C3C3C3;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    box-sizing: border-box;
}